In [ ]:
a=int(input("Enter A Value: "))
b=int(input("Enter B Value: "))
c=int(input("Enter C Value: "))
d=int(input("Enter D Value: "))

minimum=min(a,b,c,d)

print(minimum)

In [ ]:
a=int(input("Enter A Value: "))
b=int(input("Enter B Value: "))
c=int(input("Enter C Value: "))

if a<b and a<c:
    print("A is Min",a)
elif b<a and b<c:
    print("b is Min",b)
else:
    print("C is Min",c)

# Armstrong

In [ ]:
n=153
original=n
sum=0
while(n>0):
    sum=sum+(n%10)*(n%10)*(n%10)
    n=n//10 
if original==sum:
    print("Armstrong Number")
else:
    print("Not Armstrong")

# Square Root

In [ ]:
n=int(input())
original=n
sum=0
while(n>0):
    sum=sum+(n%10)*(n%10)
    n=n//10 
    
print(sum)

In [6]:
# a=int(input())
# b=int(input())
r=3
h=345
vol=3.14*r*r*h/1000
print("volume:",vol)
cost=230
calc=vol*cost
print("5 Liter Cost:",calc)

volume: 9.749699999999999
5 Liter Cost: 2242.4309999999996

In [3]:
r=3
h=345
vol=22/7*r*r*h
cost=230
calc=vol*cost
print(calc)

2244471.428571428

In [7]:
# find out sum of square 1 to 50 natural number.

In [16]:
for i in range(1,16):
    if i%2==0:
        sum=sum+i**2
        print(i)

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'int'

In [19]:

num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print(num_sqrt)

Enter a number: 25
5.0

In [20]:
total=0
for i in range(2,102,2):
    total=total+i**2
    
print(total)

171700

In [21]:
for i in range(2,102,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [24]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [27]:
num=int(input())

for i in range(2,num):
    if num%i==0:
        print("Prime Number")
    else:
        print("Not Prime")

8
Prime Number
Not Prime
Prime Number
Not Prime
Not Prime
Not Prime